<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-ubuntu">
  <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/">행사 목록</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown"
        href="#" role="button" aria-haspopup="true" aria-expanded="false">지원/제안</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="https://survey.ubuntu-kr.org/index.php/752136?lang=ko">발표자 신청</a>
          <a class="dropdown-item" href="https://survey.ubuntu-kr.org/index.php/669243?lang=ko">스터디 제안</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown"
        href="#" role="button" aria-haspopup="true" aria-expanded="false">자료</a>
        <div class="dropdown-menu">
          <a class="dropdown-item"
            href="https://wiki.ubuntu-kr.org/index.php/%EC%A0%95%EA%B8%B0_%EB%82%98%EB%88%94_%EB%AA%A8%EC%9E%84_PPT%EC%9E%90%EB%A3%8C">
            슬라이드 자료</a>
          <a class="dropdown-item" href="https://www.youtube.com/UbuntuKorea">다시보기 영상(YouTube)</a>
          <a class="dropdown-item" href="https://wiki.ubuntu-kr.org/index.php/%EC%9A%B0%EB%B6%84%ED%88%AC_%ED%95%9C%EA%B5%AD_%EC%BB%A4%EB%AE%A4%EB%8B%88%ED%8B%B0_%EC%8A%A4%ED%84%B0%EB%94%94_%EB%AA%A9%EB%A1%9D">스터디 기록</a>
          <a class="dropdown-item" href="https://wiki.ubuntu-kr.org/index.php/%EC%9A%B0%EB%B6%84%ED%88%AC_%ED%95%9C%EA%B5%AD_%EC%BB%A4%EB%AE%A4%EB%8B%88%ED%8B%B0_%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8_%EB%AA%A9%EB%A1%9D">프로젝트 기록</a>
          <a class="dropdown-item" href="https://wiki.ubuntu-kr.org/index.php/%EC%9A%B0%EB%B6%84%ED%88%AC_%ED%95%9C%EA%B5%AD_%EC%BB%A4%EB%AE%A4%EB%8B%88%ED%8B%B0_%EC%9B%8C%ED%81%AC%EC%88%8D_%EC%A7%84%ED%96%89_%EB%AA%A9%EB%A1%9D">워크숍 기록</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://ubuntu-kr.org">ubuntu-kr 홈</a>
      </li>
    </ul>
    <!-- <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
