<!-- <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-ubuntu">
  <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/">행사 목록</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown"
        href="#" role="button" aria-haspopup="true" aria-expanded="false">지원/제안</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="https://survey.ubuntu-kr.org/index.php/752136?lang=ko">발표자 신청</a>
          <a class="dropdown-item" href="https://survey.ubuntu-kr.org/index.php/669243?lang=ko">스터디 제안</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown"
        href="#" role="button" aria-haspopup="true" aria-expanded="false">자료</a>
        <div class="dropdown-menu">
          <a class="dropdown-item"
            href="https://wiki.ubuntu-kr.org/index.php/%EC%A0%95%EA%B8%B0_%EB%82%98%EB%88%94_%EB%AA%A8%EC%9E%84_PPT%EC%9E%90%EB%A3%8C">
            슬라이드 자료</a>
          <a class="dropdown-item" href="https://www.youtube.com/UbuntuKorea">다시보기 영상(YouTube)</a>
          <a class="dropdown-item" href="https://wiki.ubuntu-kr.org/index.php/%EC%9A%B0%EB%B6%84%ED%88%AC_%ED%95%9C%EA%B5%AD_%EC%BB%A4%EB%AE%A4%EB%8B%88%ED%8B%B0_%EC%8A%A4%ED%84%B0%EB%94%94_%EB%AA%A9%EB%A1%9D">스터디 기록</a>
          <a class="dropdown-item" href="https://wiki.ubuntu-kr.org/index.php/%EC%9A%B0%EB%B6%84%ED%88%AC_%ED%95%9C%EA%B5%AD_%EC%BB%A4%EB%AE%A4%EB%8B%88%ED%8B%B0_%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8_%EB%AA%A9%EB%A1%9D">프로젝트 기록</a>
          <a class="dropdown-item" href="https://wiki.ubuntu-kr.org/index.php/%EC%9A%B0%EB%B6%84%ED%88%AC_%ED%95%9C%EA%B5%AD_%EC%BB%A4%EB%AE%A4%EB%8B%88%ED%8B%B0_%EC%9B%8C%ED%81%AC%EC%88%8D_%EC%A7%84%ED%96%89_%EB%AA%A9%EB%A1%9D">워크숍 기록</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://ubuntu-kr.org">ubuntu-kr 홈</a>
      </li>
    </ul>
  </div>
</nav> -->
<header id="navigation" class="p-navigation">
  <div class="p-navigation__banner">
    <div class="p-navigation__logo">
      <a class="p-navigation__link" href="{{ site.baseurl }}/">
        ubuntu-kr events
      </a>
    </div>
    <a href="#navigation" class="p-navigation__toggle--open" title="menu"><i class="p-icon--menu"></i></a>
    <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu"><i class="p-icon--close"></i></a>
  </div>
  <nav class="p-navigation__nav" role="menubar">
    <span class="u-off-screen">
      <a href="#main-content">Jump to main content</a>
    </span>
    <ul class="p-navigation__links" role="menu">
      <li class="p-navigation__link" role="menuitem"><a href="{{ site.baseurl }}/">행사 목록</a></li>
      <li class="p-navigation__link p-contextual-menu--left" role="menuitem">
        <a href="#navigation" class="p-contextual-menu__toggle"
        aria-controls="#menu_suggest" aria-expanded="false" aria-haspopup="true"
        onclick="toggleDropdown()">지원/제안 <i class="p-icon--chevron"></i></a>
          <span class="p-contextual-menu__dropdown" id="menu_suggest" aria-hidden="true" aria-label="submenu">
              <span class="p-contextual-menu__group">
                  <a href="https://survey.ubuntu-kr.org/index.php/752136?lang=ko"
                   class="p-contextual-menu__link">발표자 신청 <i class="p-icon--external-link"></i></a>
                  <a href="https://survey.ubuntu-kr.org/index.php/669243?lang=ko"
                   class="p-contextual-menu__link">스터디 제안 <i class="p-icon--external-link"></i></a>
              </span>
          </span>

      </li>
      <li class="p-navigation__link p-contextual-menu--left" role="menuitem">
        <a href="#navigation" class="p-contextual-menu__toggle"
        aria-controls="#menu_contents" aria-expanded="false" aria-haspopup="true"
        onclick="toggleDropdown()">자료 <i class="p-icon--chevron"></i></a>
          <span class="p-contextual-menu__dropdown" id="menu_contents" aria-hidden="true" aria-label="submenu">
              <span class="p-contextual-menu__group">
                  <a href="https://wiki.ubuntu-kr.org/index.php/%EC%A0%95%EA%B8%B0_%EB%82%98%EB%88%94_%EB%AA%A8%EC%9E%84_PPT%EC%9E%90%EB%A3%8C"
                   class="p-contextual-menu__link">슬라이드 자료 <i class="p-icon--external-link"></i></a>
                  <a href="https://www.youtube.com/UbuntuKorea"
                   class="p-contextual-menu__link">YouTube <i class="p-icon--external-link"></i></a>
                  <a href="https://wiki.ubuntu-kr.org/index.php/%EC%9A%B0%EB%B6%84%ED%88%AC_%ED%95%9C%EA%B5%AD_%EC%BB%A4%EB%AE%A4%EB%8B%88%ED%8B%B0_%EC%8A%A4%ED%84%B0%EB%94%94_%EB%AA%A9%EB%A1%9D"
                   class="p-contextual-menu__link">스터디 기록 <i class="p-icon--external-link"></i></a>
                  <a href="https://wiki.ubuntu-kr.org/index.php/%EC%9A%B0%EB%B6%84%ED%88%AC_%ED%95%9C%EA%B5%AD_%EC%BB%A4%EB%AE%A4%EB%8B%88%ED%8B%B0_%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8_%EB%AA%A9%EB%A1%9D"
                   class="p-contextual-menu__link">프로젝트 기록 <i class="p-icon--external-link"></i></a>
                  <a href="https://wiki.ubuntu-kr.org/index.php/%EC%9A%B0%EB%B6%84%ED%88%AC_%ED%95%9C%EA%B5%AD_%EC%BB%A4%EB%AE%A4%EB%8B%88%ED%8B%B0_%EC%9B%8C%ED%81%AC%EC%88%8D_%EC%A7%84%ED%96%89_%EB%AA%A9%EB%A1%9D"
                   class="p-contextual-menu__link">워크숍 기록 <i class="p-icon--external-link"></i></a>
              </span>
          </span>

      </li>
      <li class="p-navigation__link" role="menuitem"><a href="https://www.ubuntu-kr.org">ubuntu-kr.org <i class="p-icon--external-link"></i></a></li>
    </ul>
  </nav>
</header>
