.container{
  margin-top: 80px;
}

.home-card{
  margin-bottom: 16px;
}

.pagination-container{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.footer{
  padding: 8px;
  margin: 8px;
  margin-top: 64px;
}
