
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.container{
  margin-top: 80px;
}

.home-card{
  margin-bottom: 16px;
}

.pagination-container{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.footer{
  padding: 8px;
  margin: 8px;
  margin-top: 64px;
}

.bg-ubuntu{
  background-color: #e95420;
}

.btn-primary-ubuntu{
  color: white;
  background-color: #e95420;
  border-color: #e95420;
}

.btn-primary-ubuntu:hover{
  color: white;
  background-color: #d04116;
  border-color: #d04116;
}

a{
  color: #e95420;
}

table > thead > tr > th,
table > tbody > tr > td{
  padding: 4px;
  border-bottom: thin dotted black;
}

div.media.profile{
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 4px;
}

footer{
  margin-bottom: 8px;
}

.event-main{
  padding-top: 40vh;
}
