
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.container{
  margin-top: 80px;
}

.ticket-info > ul{
  margin: 0;
}

.home-card{
  margin-left: 0;
  margin-bottom: 16px;
  padding: 8px;
}

.p-strip--light p{
  max-width: 100%;
}

table > thead > tr > th,
table > tbody > tr > td{
  padding: 4px;
  border-bottom: thin dotted black;
}

footer{
  margin-bottom: 8px;
}

.event-main{
  padding-top: 40vh;
}
