---
layout: frame
---

    {% include nav.html %}


      <div class="jumbotron"
        {% if page.image %}
          style="background: linear-gradient( rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4) ), url({{ page.image }})center / cover;
          color: white;"
        {% endif %}>
        <div class="container event-main">
        <h1>{{ page.title }}</h1>
        <p>{{ page.desc }}</p>
        <p><i class="fas fa-calendar-check"></i>
        </i> {{ page.start_time | date: "%Y.%m.%d %H:%M %z" }}
           ~ {{ page.end_time | date: "%Y.%m.%d %H:%M %z" }}</p>
        <p><i class="fas fa-map-marker-alt"></i>
        </i> {{ page.location }}</p>
        </div>
      </div>


      <div class="container" id="contents">
          {{ content }}
          <hr />

          {% if page.location_query %}
          <h2>지도</h2>
          <iframe
            id="google_maps"
            width="500" height="500"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key={{site.gmaps_embed_api_key}}&q={{page.location_query}}" allowfullscreen>
          </iframe>
          <script>
            var width = document.getElementById('contents').offsetWidth - 40;
            var gmaps = document.getElementById('google_maps');
            gmaps.width = width;
            gmaps.height = width * (3/5);
          </script>
          {% endif %}
        </div>
        <nav class="navbar fixed-bottom navbar-light bg-light">
          <span class="inline-text">
            <i class="fas fa-ticket-alt"></i> {{ page.price }}<br />
            <i class="far fa-clock"></i>
            <span id="submitPeriodTxt">{% if page.submit_start && page.submit_end %} {{ page.submit_start | date: "%Y.%m.%d %H:%M %z" }}
             ~ {{ page.submit_end | date: "%Y.%m.%d %H:%M %z" }}
             {% else %}등록이 불필요한 행사입니다.{% endif %}</span>
          </span>
          <a class="btn btn-lg btn-primary-ubuntu" href="{{ page.ticket_link }}" role="button" id="ticketBtn">
            <i class="fas fa-ticket-alt"></i> <b id="ticketBtnTxt">지금 신청하기</b></a>
        </nav>
      {% include footer.html %}
      <script>
        function setBtnState(){
          console.log("Setting Button State");
          let requiresRegistration = {% if page.submit_start && page.submit_end %} true {% else %} false {% endif %};
          let isTicketLinkExists = {% if page.ticket_link %} true {% else %} false {% endif %};
          let submitStart = Date.parse("{{ page.submit_start | date: '%Y-%m-%dT%H:%M:%S%z' }}");
          let submitEnd = Date.parse("{{ page.submit_end | date: '%Y-%m-%dT%H:%M:%S%z' }}");
          let startTime = Date.parse("{{ page.start_time | date: '%Y-%m-%dT%H:%M:%S%z' }}");
          let endTime = Date.parse("{{ page.end_time | date: '%Y-%m-%dT%H:%M:%S%z' }}");
          let now = new Date(Date.now());

          let ticketBtn = document.getElementById('ticketBtn');
          let ticketBtnTxt = document.getElementById('ticketBtnTxt');
          let submitPeriodTxt = document.getElementById('submitPeriodTxt');

          if(now > submitEnd || now < submitStart || now > startTime || !isTicketLinkExists || !requiresRegistration){
            console.log("Disabling Button");
            ticketBtn.className += " disabled";
            ticketBtn.setAttribute("aria-disabled", "true");
          }

          if(now < startTime && !requiresRegistration){
            ticketBtnTxt.innerHTML = "등록 불필요"
          }else if(requiresRegistration){
            if(now < submitStart || !isTicketLinkExists){
              ticketBtnTxt.innerHTML = "준비중"
              submitPeriodTxt.innerHTML = "{{ page.submit_start | date: "%Y.%m.%d %H:%M %z" }} ~"
            }else if(now > submitStart && now < submitEnd){
              submitPeriodTxt.innerHTML = "~ {{ page.submit_end | date: "%Y.%m.%d %H:%M %z" }}"
            }else if(now > submitEnd && now < endTime){
              ticketBtnTxt.innerHTML = "신청 마감됨"
              submitPeriodTxt.innerHTML = "참가 등록이 마감되었습니다."
            }
          }

          if(now > startTime && now < endTime){
            ticketBtnTxt.innerHTML = "행사 시작됨"
          }else if(now > endTime){
            ticketBtnTxt.innerHTML = "행사 종료됨"
            submitPeriodTxt.innerHTML = "종료된 행사입니다."
          }
        }

        window.onload = setBtnState;
      </script>
    </div>
