---
layout: frame
---

    {% include nav.html %}

    <div class="container">
      <div class="jumbotron"
        {% if page.image %}
          style="background: linear-gradient( rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4) ), url({{ page.image }})center / cover;
          color: white;"
        {% endif %}>
        <h1>{{ page.title }}</h1>
        <p>
          {{ page.summary }}
        </p>
        <p>
          <i class="fa fa-calendar-o" aria-hidden="true"></i> <b>행사기간</b><br />
          {{ page.start_time | date: "%Y.%m.%d %H:%M %Z" }} ~ {{ page.end_time | date: "%Y.%m.%d %H:%M %Z" }}
        </p>
        <p>
          <i class="fa fa-clock-o" aria-hidden="true"></i> <b>신청기간</b><br />
          {{ page.submit_start | date: "%Y.%m.%d %H:%M %Z" }} ~ {{ page.submit_end | date: "%Y.%m.%d %H:%M %Z" }}
        </p>
        <p>
          <i class="fa fa-map-marker" aria-hidden="true"></i> <b>행사장소</b><br />
          {{ page.location }}
        </p>
        <p>
          <i class="fa fa-ticket" aria-hidden="true"></i> <b>참가비용</b><br />
          {{ page.price }}
        </p>
        <a class="btn btn-lg btn-primary-ubuntu" href="{{ page.ticket_link }}" role="button">
        <i class="fa fa-ticket" aria-hidden="true"></i>  지금 신청하기</a>
      </div>
      <div class="card">
        <div class="card-body" id="contents">
          {{ content }}
          <hr />
          <h2>지도</h2>
          <iframe
            id="google_maps"
            width="500" height="500"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key={{site.gmaps_embed_api_key}}&q={{page.location_query}}" allowfullscreen>
          </iframe>
          <script>
            var width = document.getElementById('contents').offsetWidth - 40;
            var gmaps = document.getElementById('google_maps');
            gmaps.width = width;
            gmaps.height = width * (3/5);
          </script>
        </div>
      </div>
      {% include footer.html %}
    </div>
