---
layout: frame
---
{% include nav.html %}

  {% for post in paginator.posts %}
  {% if forloop.index == 1 %}
  <div class="jumbotron"
    {% if post.image %}
      style="background: linear-gradient( rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4) ), url({{ post.image }})center / cover;
      color: white;"
    {% endif %}>
    <div class="container">
    <h1>{{ post.title }}</h1>
    <p>
      {{ post.summary }}
    </p>
    <p>
      <i class="fa fa-calendar-o" aria-hidden="true"></i>
      {{ post.start_time | date: "%Y.%m.%d %H:%M %Z" }} ~ {{ post.end_time | date: "%Y.%m.%d %H:%M %Z" }}<br />
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      {{ post.submit_start | date: "%Y.%m.%d %H:%M %Z" }} ~ {{ post.submit_end | date: "%Y.%m.%d %H:%M %Z" }}<br />
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      {{ post.location }}<br />
      <i class="fa fa-ticket" aria-hidden="true"></i>
      {{ post.price }}
    </p>
    <a class="btn btn-lg btn-primary-ubuntu" href="{{ site.baseurl }}{{ post.url }}" role="button">자세히 보기</a>
  </div>
  </div>
  {% endif %}
  {% endfor %}
<div class="container">
  <div class="row">
  {% for post in paginator.posts %}
  {% if forloop.index > 1 %}

  <div class="col-sm-4 home-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ post.title }}</h4>
        <p class="card-text">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          {{ post.location }}<br />
          <i class="fa fa-calendar-o" aria-hidden="true"></i>
          {{ post.start_time | date: "%Y.%m.%d %H:%M %Z" }}<br />
          <i class="fa fa-ticket" aria-hidden="true"></i>
          {{ post.price }}
        </p>
        <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-primary-ubuntu">자세히 보기</a>
      </div>
    </div>
  </div>
    {% endif %}
    {% endfor %}
  </div>
  <!-- Pagination -->
  <nav class="pagination-container">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" {% if paginator.previous_page %}
       href="{{ site.baseurl }}/{{ paginator.previous_page_path }}"{% else %}{% endif %}>
       <i class="fa fa-arrow-left" aria-hidden="true"></i>
     </a></li>
      <li class="page-item"><a class="page-link">{{ paginator.page }} / {{ paginator.total_pages }}</a></li>
      <li class="page-item"><a class="page-link" {% if paginator.next_page %}
       href="{{ site.baseurl }}/{{ paginator.next_page_path }}"{% else %}{% endif %}>
       <i class="fa fa-arrow-right" aria-hidden="true"></i>
     </a></li>
    </ul>
  </nav>
  </div>
  {% include footer.html %}
