{{ define "main" }}

{{ $allPages := .Site.Pages }}
{{ range .Site.Home.Translations }}
{{ $allPages = $allPages | lang.Merge .Site.Pages }}
{{ end }}

{{ $regularPages := .Site.RegularPages }}
{{ range .Site.Home.Translations }}
{{ $regularPages = $regularPages | lang.Merge .Site.RegularPages }}
{{ end }}

<main>
  <section class="p-strip--suru main-slide main-strip">
      <div class="row">
        <div class="col-8 left-section">
          <h1>{{.Site.Title}}</h1>
          <p>{{.Site.Params.description}}</p>
        </div>
      </div>
  </section>
  <section class="p-strip">
      <div class="row">
        <div class="col-12">
          <div class="p-list--divided">
            {{ $pages := .Paginator.Pages }}
            {{ range .Site.Home.Translations }}
            {{ $pages = $pages | lang.Merge .Paginator.Pages }}
            {{ end }}

            {{ range where $pages "Section" "events" }}
            <div class="p-list__item">
              <div class="p-media-object">
                <div class="p-media-object__details">
                  <h3 class="p-media-object__title">
                    <a href="{{ .RelPermalink }}">{{.Title}}</a>
                  </h3>
                  <p class="p-media-object__content">{{.Params.desc}}</p>
                  <ul class="p-media-object__meta-list">
                    <li class="p-media-object__meta-list-item--date">
                      <span class="u-off-screen">일시: </span><u class=" timedisplay" style="text-decoration-style: dotted;">{{dateFormat "2006-01-02T15:04:05-07:00" (time .Params.start_time).UTC}}</u>
                    </li>
                    <li class="p-media-object__meta-list-item--venue">
                      <span class="u-off-screen">위치: </span>{{.Params.location}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            {{ end }}
            {{- partial "pagination.html" . -}}
          </div>
        </div>
      </div>
  </section>
</main>
{{ end }}